<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular.min.js"></script>
    <title>Exercice 6</title>
</head>
<body ng-app="">
    <button ng-click="text = false">Paragraphe 1</button>
    <button ng-click="text = true">Paragraphe 2</button>
    <p ng-show="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, nulla aperiam repellendus hic nesciunt quae dicta unde inventore doloremque optio, quasi excepturi. Animi quasi nesciunt nisi amet dolores nobis qui.</p>
    <p ng-hide="text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus vero veniam, odit, nulla placeat neque quia itaque ipsam asperiores exercitationem voluptas pariatur quibusdam voluptatem officia ullam dignissimos voluptatum iure architecto!</p>
</body>
</html>